<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DE_Evgrafov_4.Properties.Settings.DE_Evgrafov__4ConnectionString"
            connectionString="Data Source=DESKTOP-DAO2Q0L\SQLEXPRESS01;Initial Catalog=DE_Evgrafov_№4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>